/*Färger
den turkosa     #21BFBF
(ljusare, gråton turkos  #89c3c4)
gråbeige, cirkeln   #BDBFB0
hjärterött  #D91A3D

ljusare turkos  #b7e7ea

ljuslljusblå    #DAE9EC
banner-gulbrun  #AA970A

bidraga
hjärte  #EAE5C2     #D4CA82
syskon  #D1DBDD     #A1B7BA
rabatt  #D1D4DD     #A2A7BB
budskap #D2E5E8     #A6CBD1

ljusgrå bakgrund    #F2F2F2
*/


body {
    background-color: white;
}
/*
Fonter
quicksand - p
outfit - h1, h2, h3, h4


*/
h1, h2, h3, h4 {
    font-family: "Outfit", sans-serif;
}
p, li, figcaption {
    font-family: "Quicksand", sans-serif;
}
span {
    font-family: "Indie Flower", cursive;   /*finns endast som regular 400*/
    font-weight: 400;
    font-style: normal;
}

.header {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.antal-insamlade-hjartekatter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-logo {

    margin-top: 25px;
}
.nav-ul {
    display: flex;
    justify-content: space-around;
}

.container-large-img {
    max-width: 1100px;
    width: 100%;
    min-height: 700px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.container-large-text {
    max-width: 550px;
    width: 100%;
    min-height: 700px;
    height: 100%;
}

.container-home {
    max-width: 1100px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.container-intro {
    max-width: 550px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-direct-pattern {
    max-width: 450px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-bidra {
    max-width: 1100px;
    width: 100%;
    min-height: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.container-cards {
    max-width: 1100px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.container-card {
    max-width: 200px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    border: black solid 3px;
}
.container-card h3 {
    text-align: center;
}
.container-card p {
    margin: 10px;
}
.bidra-description {
    text-align: justify;
    
}

.container-virkmonster {
    max-width: 1100px;
    width: 100%;
    min-height: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.container-instruktioner {
    max-width: 1000px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.container-gor-sa-har {
    max-width: 1000px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.container-mottagare-hjartekatter {
    max-width: 1000px;
    width: 100%;
    min-height: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.container-mottagare-hjartekatter h3 {
    text-align: center;
}
.mottagare-div, .butiker-div {
    max-width: 1000px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.mottagare, .butiker {
    max-width: 200px;
    width: 100%;
    min-height: 200px;
    height: 100%;
}

.container-syskondjur {
    max-width: 1100px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin: auto;
}
.container-syskondjur h2 {
    text-align: center;
}
.container-syskondjur p {
    text-align: justify;
}
.container-om-oss {
    max-width: 1100px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin: auto;
}
.container-om-oss h2 {
    text-align: center;
}
.container-om-oss p {
    text-align: justify;
}
.container-butiker-med-rabatt {
    max-width: 1100px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin: auto;
}
.container-butiker-med-rabatt h2 {
    text-align: center;
}
.container-butiker-med-rabatt p {
    text-align: justify;
}



.container-sprid-budskapet {
    max-width: 1100px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin: auto;
}
.container-sprid-budskapet h2 {
    text-align: center;
}
.container-sprid-budskapet p {
    text-align: justify;
}

.footer {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.footer h3 {
    text-align: center;
}
.contact-info {
    display: flex;
    justify-content: space-around;
}

.container-svenskt-monster {
    max-width: 1100px;
    width: 100%;
    min-height: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}